body {
    display: flex;
    content: wrap;
    justify-content: center;
    padding: 2em;
    margin: 10px;
}

h2 {
    text-align: center;
}

h6 {
    text-align: center;
}

.form-boxes {
    display: flex;
    align-items: right;
    margin: 2em;
    align-content: right;

}

#shape-form {
    background-color: white;
    display: inline-block;
    justify-content: right;
    align-items: right;
    content: wrap;
    padding: 2em;
    margin: 2em;
    height: 17em;
}

#shape-container {
    display: flex;
    float: left;
    content: wrap;
    height: 600px;
    width: 600px;
    border: solid rgb(34, 34, 34);
    border-radius: 5px;
    margin: 2em;
    overflow: hidden;
    position: relative;
}

#shape-info {
    display: inline-block;
    content: wrap;
    align-items: center;
    border: solid rgb(34, 34, 34);
    border-radius: 5px;
    background-color: ' ';
    padding: 2em;
    margin: 2em;
    width: 20em;
}

.input-group-text {
    padding: 2em;
    display: flex;
    content: wrap;
    margin: 3px;

}

.input-group-label {
    padding: 8px;
    margin-bottom: 5px;
    margin-top: 5px;
    border-radius: 5px;
    background-color: rgb(222, 222, 222);
}

#wrapper {
    display: flex;
    content: wrap;
}